// Global theme
$header-bg: lighten(black, 20%);
$previa-red: red;

body {
    margin: 0;
    padding: 0;
    margin-bottom: 10em;
    h1 {
        text-align: center;
    }
}

ul {
    margin: 0 1em;
    padding: 0 1em;
    list-style: none;
}

p {
    font-family: 'Droid Sans', serif;
}

.plainInput {
    .form-group {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.equipmentTable {
    td {
        &:last-child {
            width: 10%;
        }
        &:first-child {
            width: 50%;
            font-weight: bold;
            font-style: italic;
        }
    }
}

.btn-skip {
    margin-right: 1em;
}

.radio-group {
    @extend .well;
    padding: 1em;
}

.radio {
    display: inline-block;
    margin-right: 1em;
}

.form-group-label {
    margin-left: 1em;
    font-style: italic;
}

.container {
    background-color: white;
}

.print-container {
    padding: 3em;
    margin: 3em;
}

.fa-check {
    color: green;
}

.employee-search {
    text-align: center;
    margin: 1em auto;
    max-width: 35em;
}

input::-webkit-input-placeholder {
    font-style: italic;
}

.checkbox {
    display: inline-block;
    margin-right: 1em;
}

.wizard-footer {
    button {
        min-width: 5em;
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
    }
}

.wizard {
    $step-color:  lighten(#F7931D, 20%);
    $hover-color: darken($previa-red, 5);
    $active-color: $previa-red;
    white-space: nowrap;
    overflow-x: scroll;
    text-align: center;
    margin: 1em auto 1em auto;
    background-color: lighten(grey, 45%);
    padding: 1em;
    table {
        display: inline-block;
        tbody {
            tr {
                td {
                    button {
                        color: black;
                        border: none;
                        outline: none;
                        padding: 12px 12px 10px 25px;
                        margin-right: 5px;
                        background: $step-color;
                        position: relative;
                        display: inline-block;
                        text-decoration: none;
                        cursor: pointer;

                        &:before {
                            width: 0px;
                            height: 0px;
                            border-top: 20px inset transparent;
                            border-bottom: 20px inset transparent;
                            border-left: 20px solid #fff;
                            position: absolute;
                            content: "";
                            top: 0;
                            left: 0;
                        }
                        &:after {
                            width: 0px;
                            height: 0px;
                            border-top: 20px inset transparent;
                            border-bottom: 20px inset transparent;
                            border-left: 20px solid $step-color;
                            position: absolute;
                            content: "";
                            top: 0;
                            right: -20px;
                            z-index: 2;
                        }
                        &:hover {
                            background-color: $hover-color;
                            color: white;
                            &:after {
                                border-left-color: $hover-color;
                            }
                        }
                    }
                    &:first-child {
                        button:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .current {
        background: $previa-red;
        color: white;
        visibility: visible;
        &:after {
            border-left-color: $previa-red;
        }
    }
}

.search-bar {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-line-height: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $base-spacing: 1em;
    //////////////////////////////////////////////////////////////////////////////////
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);
    position: relative;
    input {
        @include appearance(none);
        @include box-sizing(border-box);
        @include transition(border-color);
        background-color: white;
        border-radius: $base-border-radius;
        border-radius: $base-border-radius;
        border: 1px solid $base-border-color;
        display: block;
        font-size: 1em;
        font-style: italic;
        margin: 0;
        padding: $base-spacing / 3 $base-spacing / 3;
        position: relative;
        width: 100%;
    }
    button {
        @include button(flat, $action-color);
        @include position(absolute, 0em 0em 0em null);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        outline: none;
        padding: 5px 10px;
    }
}