<div class="employee-search row">
    <div class="col-md-12">
        <h4>Personal sök</h4>
        <ui-select ng-model="model.person" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" on-select="selected($item)">
            <ui-select-match placeholder="Personal sökning">{{$select.selected.namn['förnamn'] + ' ' + $select.selected.namn['mellannamn'] + ' ' + $select.selected.namn['efternamn']}}</ui-select-match>
            <ui-select-choices repeat="option in employees">
                <div ng-bind-html="option.namn['förnamn'] + ' ' + option.namn.mellannamn + ' ' + option.namn.efternamn | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div ui-view="personinfo"></div>
