<form name="form">
    <div class="wizard container-fluid">
        <table>
            <tbody>
                <tr>
                    <td ng-repeat="step in getSteps()">
                        <button type="submit" ng-click="goToState(step)" ng-class="{current: isCurrent(step)}"> {{step.name}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading" ng-if="model.person.name">
                <h4><b>Ärende person</b></h4>
                <span><b>Namn:</b> <i>{{model.person.name.firstname + ' ' + model.person.name.lastname}}</i></span>
                <span><b>Huvud-RE:</b> <i>{{model.person.RE}}</i></span>
                <span><b>Tjänsteställe:</b> <i>{{model.person.workplace}}</i></span>
            </div>
            <div class="panel-body">
                <div ui-view="wizardContent"></div>
                <hr>
                <div class="wizard-footer col-md-12">
                    {{isSummary}}
                    <button type="submit" ng-disabled="checkGoBack()" ng-click="previous()" class="btn btn-success pull-left" translate>Förregående</button>
                    <button type="submit" ng-if="!isSummary()" ng-disabled="checkGoForward()" ng-click="next()" class="btn btn-success pull-right" translate>Nästa</button>
                    <button type="submit" ng-if="isSummary()" ng-click="sendMail()" class="btn btn-success pull-right" translate><i class="fa fa-envelope"></i> Skicka</button>
                    <button type="button" ng-if="canSkip()" ng-click="skip()" class="btn btn-success pull-right btn-skip" translate>Hoppa över</button>
                </div>
            </div>
        </div>
    </div>
</form>
