<div class="container">
	<h2>Beställning</h2>
	<form name="form" ng-submit="onSubmit()" novalidate>
		<hr>
		<div class="wizard" ng-if="getSteps() && getSteps().length > 0">
			<table>
				<tbody>
					<tr>
						<td ng-repeat="step in getSteps()">
							<a type="submit"
								ui-sref="{{step.route}}"
								ui-sref-active-eq="current"><span class="badge">{{$index + 1}}</span> {{step.name}}</a>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<hr>
		<div ui-view="wizardContent"></div>
		<hr>
		<div class="wizard-footer col-md-12">
			<button type="submit" ng-disabled="checkGoBack()" ng-click="previous()" class="btn btn-success" translate>Previous</button>
			<button type="submit" ng-disabled="checkGoForward()" ng-click="next()" class="btn btn-success" translate>Next</button>
		</div>
    </form>
</div>