<div class="container">
	<h1>{{vm.steps[vm.activeStep].name}}</h1>
</div>
<hr>
<div class="container">
	<div class="wizard">
		<a ng-repeat="step in vm.steps" 
			ng-click="vm.setActive($index, step)"
			ng-class="{current:$index === vm.activeStep}"><span class="badge">{{$index + 1}}</span> {{step.name}}</a>
	</div>
</div>
<hr>
<div class="container">
	<form name="vm.form" ng-submit="vm.onSubmit()">
		<fieldset ng-repeat="field in vm.steps[vm.activeStep].fields">
			<legend>{{field.groupName}}</legend>
			<formly-form model="vm.model" fields="field.formfields"></form-form>
		</fieldset>
		<button type="submit" class="btn btn-primary btn-form">Submit</button>
	</form>
</div>
<hr>