<div class="modal-header">
	<h3 class="modal-title">Följande beställningar är nu skickade</h3>
</div>
<div class="modal-body">
	<ul class="list-group" ng-repeat="(key, mail) in mails">
		<li class="list-group-item">
			<h4>{{mail.subject}} <i class="fa fa-check"></i></h4>
			<div><b>Från: </b> {{mail.fromAddress}}</div>
			<div><b>Till: </b> {{mail.toAddress}}</div>
			<div><b>CC: </b> <i ng-repeat="cc in mail.toAddressCC">{{cc + ($index === mail.toAddressCC.length - 1 ? '' : ', ')}} </i></div>
			<div><b>BCC: </b> <i ng-repeat="bcc in mail.toAddressBCC">{{bcc + ($index === mail.toAddressBCC.length - 1 ? '' : ', ')}}</i></div>
		</li>
	</ul>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-click="ok()"><i class="fa fa-chevron-left"></i> Tillbaka</button>
</div>