.adress-content {
    display: inline-block;
}

.subsection {
    margin-left: 1em;
    .subinput {
        display: inline-block;
        width: 20em;
        margin-top: 1em;
        input {
            height: 2em;
        }
    }
}

.ui-select-container {
    margin-bottom: 1em;
}

.ui-select-dropdown {
    top: 2.5em !important;
}

.btn-list {
    float: right;
}

.table-tjanstestalle {
    tbody {
        tr {
            td {
                &:last-child {
                    vertical-align: middle;
                    text-align: right;
                }
            }
            .ui-select-container {
                margin-bottom: 0;
            }
        }
    }
}

.table-equipment-list {
    margin: 0;
    tbody {
        tr {
            td {
                width: 20%;
                &:first-child {
                    width: 60%;
                    vertical-align: middle;
                    padding-left: 1em;
                    font-weight: bold;
                    text-transform: capitalize;

                }

                &:last-child {
                    width: 10%;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
    }
}

.btn-right {
    float: right;
}

.edit-list {
    padding: 0.5em;
}