<table class="table table-list table-equipment-list">
    <tbody>
        <tr ng-repeat="value in model[options.key]" class="alert alert-success">
            <td>
                <h4>{{value.beteckning}}</h4>
            </td>
            <td ng-if="to.enableModelInput">
                <formly-form model="value" fields="to.modelField"></formly-form>
            </td>
            <td>
                <formly-form model="value" fields="to.ammountField"></formly-form>
            </td>
            <td ng-if="value.Antal && value.price">
                <label class="control-label">Totalpris </label>
                <span class="form-control"><b>{{value.price * value.Antal}} kr</b></span>
            </td>
            <td>
                <button ng-click="to.removeCallback(value, options.key, model)" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<ui-select ng-model="to.selectedValue" theme="bootstrap" ng-disabled="to.disabled" reset-search-input="false">
    <ui-select-match placeholder="{{to.placeholder}}">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="option in to.options | propsFilter: {name: $select.search}">
        <div style="font-weight: bold" ng-bind-html="option.name | highlight: $select.search"></div>
        <div class="row" ng-if="option.description">
            <span class="col-md-6"><i>Beskrivning: {{option.description}}</i></span>
            <span style="text-align: right" class="col-md-6"><i>Pris: {{option.price}} kr/st</i></span>
        </div>
    </ui-select-choices>
</ui-select>
