<input type="text"
        ng-model="model[options.key]"
        placeholder="{{to.placeholder}}"
        typeahead="option as option.name for option in to.options | filter: {name: $viewValue}"
        typeahead-loading="isLoading"
        typeahead-wait-ms="200"
        typeahead-on-select="to.optionSelected($item, model[options.key]); selectedItem = ''" 
        class="form-control">
<i class="fa fa-spinner fa-pulse form-control-feedback" ng-show="isLoading"></i>
<hr>
<div ng-if="to.showPrevileges && (model[options.key].$subInput || model[options.key].$explanations)" class="alert alert-info">
    <div class="subinput" ng-if="model[options.key].$subInput">
        <formly-form model="model[options.key]" fields="model[options.key].$subInput">
        </formly-form>
    </div>
    <p ng-repeat="spec in model[options.key].$explanations"><i class="fa fa-check fa-lg"></i>{{spec}}</p>
    <div class="suboptions" ng-if="model[options.key].$subOptions">
        <formly-form model="model[options.key]" fields="model[options.key].$subOptions">
        </formly-form>
    </div>
</div>